<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<%- title %>
	<%- style %>
</head>
<body>
	<div id="app">
		<%- appString %>
	</div>
	<%- initalState %>
	<%- scripts %>
</body>
</html>